APP_NAME=MAYHEM
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8080
APP_KEY=

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=mayhem
DB_USERNAME=mayhem
DB_PASSWORD=mayhem_pass

SESSION_DRIVER=file

GROQ_API_KEY=
GROQ_MODEL=llama-3.3-70b-versatile
