<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /tumblr-clone/public/

    # Permite accesul direct la fișierele statice
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Rescrie toate celelalte cereri către index.php
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
